# MongoDB
MONGO_URI=+srv://padelchilecito_db_user: Padel_CHI2025@cluster0.9xaaaa0.mongodb.net /?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret
JWT_SECRET=unodostrescuatrocincoseissieteochonueveydiez

# Server Port
PORT=5000

# Client URL for CORS
CLIENT_URL="http://localhost:5173"

# Base URL for webhooks
BASE_URL="http://localhost:5000"

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=dipc0avye
CLOUDINARY_API_KEY=763315141745365
CLOUDINARY_API_SECRET=icClQukdMVsVDkqPAn6y10rMeSo

# Mercado Pago Credentials
MERCADOPAGO_ACCESS_TOKEN="your_mercadopago_access_token"
MERCADOPAGO_WEBHOOK_SECRET="your_mercadopago_webhook_secret"

# WhatsApp Configuration
WHATSAPP_SENDER_NUMBER="your_whatsapp_sender_number"
WHATSAPP_API_TOKEN="your_whatsapp_api_token"
