@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-primary text-text-primary antialiased;
    font-family: 'Inter', sans-serif;
  }

  /* Custom Scrollbar for a more modern look */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #1B263B; /* dark-secondary */
  }
  ::-webkit-scrollbar-thumb {
    background-color: #4A5568; /* A shade of gray */
    border-radius: 10px;
    border: 2px solid #1B263B; /* dark-secondary */
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #718096;
  }
}
